Repository stegos/stegos, pull requests merged in 2018-12, with the labels that each got.

#203 Added signature to Heartbeat message
  crypto/src/hash/mod.rs
  network/build.rs
  network/protos/heartbeat_proto.proto
  network/src/node/heartbeat/mod.rs
  network/src/node/mod.rs
  node/build.rs
Labels: network

#173 Added scripts to start/stop 3-node blockchain on localhost
  start-cluster.sh
  stop-cluster.sh
Labels: operations

#213 Temporally disable Randhound to address #211
  randhound/src/lib.rs
Labels: crypto, network

#214 Process sealed block
  blockchain/src/block.rs
  blockchain/src/merkle.rs
  node/src/lib.rs
Labels: blockchain, network

#215 Add Node API to subscribe for epoch changes
  node/src/lib.rs
Labels: blockchain, network

#218 Add monetary balance verification
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/transaction.rs
  node/protos/node.proto
  node/src/lib.rs
  node/src/protos/mod.rs
  node/src/protos/node.rs
Labels: blockchain, tx

#220 Implement data UTXO
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/genesis.rs
  blockchain/src/merkle.rs
  blockchain/src/output.rs
  blockchain/src/transaction.rs
  crypto/src/hash/mod.rs
  node/protos/node.proto
  node/src/lib.rs
  node/src/protos/mod.rs
  node/src/protos/node.rs
  src/console.rs
Labels: blockchain, tx

#224 Initial Randhound bootstrap
  .gitignore
  Cargo.lock
  config/src/types.rs
  network/src/lib.rs
  network/src/node/heartbeat/mod.rs
  network/src/node/mod.rs
  node/src/lib.rs
  randhound/Cargo.toml
  randhound/src/lib.rs
  randhound/src/randhound.rs
  src/stegos.rs
  stegos.toml.example
  testing/node01/node-pbc.pkey
  testing/node01/node01-pbc.pkey
  testing/node01/node02-pbc.pkey
  testing/node01/node03-pbc.pkey
  testing/node01/private-key.pk8
  testing/node01/public-key.der
  testing/node01/stegos-pbc.pkey
  testing/node01/stegos.toml
  testing/node02/node-pbc.pkey
  testing/node02/private-key.pk8
  testing/node02/public-key.der
  testing/node02/stegos-pbc.pkey
  testing/node02/stegos.toml
  testing/node03/node-pbc.pkey
  testing/node03/private-key.pk8
  testing/node03/public-key.der
  testing/node03/stegos-pbc.pkey
  testing/node03/stegos.toml
Labels: crypto, network

#230 Removed locks from Randhound GlobalState
  Cargo.lock
  randhound/Cargo.toml
  randhound/src/randhound.rs
Labels: crypto, network

#233 Generate network keys on node start.
  Cargo.lock
  config/src/types.rs
  keychain/Cargo.toml
  keychain/src/lib.rs
  network/examples/test-rsa-private-key.pk8
  network/examples/test-rsa-public-key.der
  network/src/node/heartbeat/mod.rs
  network/src/node/mod.rs
  testing/node01/private-key.pk8
  testing/node01/public-key.der
  testing/node01/stegos.toml
  testing/node02/private-key.pk8
  testing/node02/public-key.der
  testing/node02/stegos.toml
  testing/node03/private-key.pk8
  testing/node03/public-key.der
  testing/node03/stegos.toml
Labels: keymgmt, network

#243 Many Randhound improvements
  README-Testing.md
  config/src/types.rs
  create-testing-keys.sh
  network/src/node/mod.rs
  randhound/src/lib.rs
  randhound/src/randhound.rs
  start-cluster.sh
  stop-cluster.sh
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/stegos.toml.j2
Labels: network, testing

#251 Refactor NodeService::poll()
  Cargo.lock
  node/Cargo.toml
  node/src/lib.rs
Labels: refactoring

#248 Add unit tests for blockchain node
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/genesis.rs
  blockchain/src/output.rs
  network/src/node/broker.rs
  node/src/bootstrap.rs
  node/src/lib.rs
  src/stegos.rs
Labels: blockchain, refactoring

#258 Update genesis blocks
  blockchain/src/block.rs
  crypto/src/pbc/secure.rs
  node/data/genesis0.bin
  node/data/genesis1.bin
  node/src/lib.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
  testing/node03/stegos.toml
Labels: blockchain

#255 Integration of RandHound and Node services
  Cargo.lock
  node/Cargo.toml
  node/src/lib.rs
  randhound/Cargo.toml
  randhound/src/lib.rs
  randhound/src/randhound.rs
  src/stegos.rs
  start-cluster.sh
Labels: crypto, network

#260 Replaced Delay futures with single DelayQueue for quorum deadline
  randhound/src/lib.rs
  randhound/src/randhound.rs
Labels: crypto, network

#263 Use Option<> for Randomness result from Randhound
  node/src/lib.rs
  randhound/src/lib.rs
  randhound/src/randhound.rs
Labels: crypto, network

#262 Implement leader election algorithm.
  node/src/election.rs
  node/src/lib.rs
Labels: consensus

#278 Fix one-off error in SubGroupRandomness collection
  randhound/src/randhound.rs
Labels: bug, randhound

#283 Store decrypted shares, even when randmoness was calculated
  randhound/src/randhound.rs
Labels: randhound

#281 Initial consensus implementation for MonetaryBlocks
  Cargo.lock
  Cargo.toml
  blockchain/Cargo.toml
  blockchain/src/block.rs
  consensus/Cargo.toml
  consensus/src/lib.rs
  consensus/src/multisignature.rs
  crypto/src/pbc/secure.rs
  node/Cargo.toml
  node/protos/node.proto
  node/src/lib.rs
  node/src/protos/mod.rs
  randhound/src/randhound.rs
Labels: consensus, network, node
