Repository stegos/stegos, pull requests merged in 2018-11, with the labels that each got.

#114 Use build.rs with protoc-rust crate to generate Rust code
  .gitignore
  .gitlab-ci.yml
  BUILD.md
  Cargo.lock
  README.md
  ci-scripts/install-deps.sh
  network/Cargo.toml
  network/build.rs
  network/protos/ncp.proto
  network/regen_proto.sh
  network/src/ncp/mod.rs
  network/src/ncp/ncp_proto.rs
  network/src/ncp/protocol.rs
Labels: network

#116 Remove locks from fields of Node structure
  network/src/node.rs
Labels: network

#119 Initial complete NCP implemented
  Cargo.lock
  examples/ncp-ping.rs
  network/Cargo.toml
  network/protos/ncp.proto
  network/src/lib.rs
  network/src/ncp/handler.rs
  network/src/ncp/mod.rs
  network/src/ncp/protocol.rs
  network/src/node.rs
Labels: network

#129 Initial implementation for connection monitoring
  config/src/types.rs
  network/src/ncp/handler.rs
  network/src/ncp/protocol.rs
  network/src/node.rs
  src/stegos.rs
  testing/node01/stegos.toml
  testing/node03/stegos.toml
Labels: network

#134 Switched to log4rs for logging
  .gitignore
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  blockchain/Cargo.toml
  blockchain/src/lib.rs
  blockchain/src/merkle.rs
  config/src/types.rs
  consensus/Cargo.toml
  crypto/Cargo.toml
  crypto/src/bulletproofs/mod.rs
  crypto/src/lib.rs
  keychain/Cargo.toml
  network/Cargo.toml
  network/src/echo/handler.rs
  network/src/lib.rs
  network/src/ncp/handler.rs
  network/src/node.rs
  randhound/Cargo.toml
  runtime/Cargo.toml
  src/console.rs
  src/stegos.rs
  stegos-log4rs.toml.example
  stegos.toml.example
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
Labels: refactoring, runtime

#136 Example of `log` usage with unit tests
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  network/Cargo.toml
  network/src/ncp/protocol.rs
  src/stegos.rs
Labels: runtime

#137 Fix Dockerhub automated image build
  Dockerfile
  ci-scripts/install-deps.sh
Labels: ci

#141 Split incoming broadcast message into separate streams
  Cargo.lock
  network/Cargo.toml
  network/src/lib.rs
  network/src/node/broker.rs
  network/src/node/mod.rs
  src/stegos.rs
Labels: network

#142 Switch to new network API
  network/src/node/mod.rs
  randhound/src/lib.rs
  src/console.rs
  src/stegos.rs
Labels: network

#147 Added code coverage report using codecov.io
  .gitlab-ci.yml
  README.md
  ci-scripts/coverage.sh
  ci-scripts/install-deps.sh
Labels: ci, qa

#149 Fixed badges in README.md
  README.md
Labels: ci, qa

#150 Fixed multiaddr literal in stefos.toml.example
  stegos.toml.example
Labels: bug

#153 Fixed consumers processing
  network/src/node/broker.rs
Labels: network

#156 Implement utility functions for curve1174/cpt/PublicKey
  crypto/src/curve1174/cpt.rs
Labels: crypto, network

#138 Provisional implementation of Randhound++ protocol
  crypto/src/pbc/fast.rs
  randhound/src/randhound.rs
Labels: crypto, network, randhound

#159 Implement basic key chain
  .gitignore
  Cargo.lock
  blockchain/src/blockchain.rs
  blockchain/src/genesis.rs
  blockchain/src/lib.rs
  config/src/types.rs
  crypto/src/curve1174/cpt.rs
  keychain/Cargo.toml
  keychain/src/lib.rs
  keychain/src/pem.rs
  src/stegos.rs
  stegos.toml.example
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
  testing/node03/stegos.toml
Labels: keymgmt

#162 Make blockchain code to be more fool-proof
  blockchain/src/blockchain.rs
Labels: blockchain, refactoring

#166 Implemented .into_bytes()/.from_bytes for pbc::secure::{G2, PublicKey}
  crypto/src/pbc/secure.rs
Labels: crypto, network

#183 Use the new syntax to import local submodules
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/genesis.rs
  blockchain/src/lib.rs
  blockchain/src/transaction.rs
  config/src/lib.rs
  crypto/src/bulletproofs/mod.rs
  crypto/src/curve1174/fields.rs
  crypto/src/curve1174/mod.rs
  crypto/src/hash/mod.rs
  crypto/src/pbc/fast.rs
  crypto/src/pbc/mod.rs
  crypto/src/pbc/secure.rs
  network/src/lib.rs
  network/src/ncp/protocol.rs
  src/stegos.rs
Labels: refactoring

#186 Unify Tokio services
  network/src/lib.rs
  network/src/node/broker.rs
  network/src/node/heartbeat/mod.rs
  network/src/node/mod.rs
  randhound/src/lib.rs
  src/console.rs
  src/stegos.rs
Labels: network, refactoring

#194 Reworked Randhound global state
  Cargo.lock
  config/src/types.rs
  keychain/src/lib.rs
  keychain/src/pem.rs
  randhound/Cargo.toml
  randhound/src/lib.rs
  randhound/src/randhound.rs
  src/stegos.rs
  stegos.toml.example
  testing/node01/node01-pbc.pkey
  testing/node01/node02-pbc.pkey
  testing/node01/node03-pbc.pkey
  testing/node01/stegos-pbc.pkey
  testing/node01/stegos.toml
  testing/node02/node01-pbc.pkey
  testing/node02/node02-pbc.pkey
  testing/node02/node03-pbc.pkey
  testing/node02/stegos-pbc.pkey
  testing/node02/stegos.toml
  testing/node03/node01-pbc.pkey
  testing/node03/node02-pbc.pkey
  testing/node03/node03-pbc.pkey
  testing/node03/stegos-pbc.pkey
  testing/node03/stegos.toml
Labels: configuration, crypto

#195 Rework CLI
  Cargo.lock
  Cargo.toml
  src/console.rs
  src/consts.rs
  src/stegos.rs
Labels: repl

#196 Forbid invalid Pt and PublicKeys
  blockchain/src/output.rs
  crypto/src/bulletproofs/mod.rs
  crypto/src/curve1174/cpt.rs
  crypto/src/curve1174/ecpt.rs
  crypto/src/curve1174/fields.rs
  crypto/src/curve1174/fq51.rs
  crypto/src/curve1174/lev32.rs
  crypto/src/curve1174/mod.rs
  crypto/src/curve1174/u256.rs
  crypto/src/curve1174/winvec.rs
  crypto/src/hash/mod.rs
  crypto/src/lib.rs
  crypto/src/pbc/fast.rs
  crypto/src/pbc/mod.rs
  crypto/src/pbc/secure.rs
  crypto/src/utils/mod.rs
  keychain/src/lib.rs
  src/console.rs
Labels: crypto

#198 Unify into_hex()/try_from_hex() API in crypto
  blockchain/src/merkle.rs
  crypto/src/curve1174/fields.rs
  crypto/src/curve1174/fq51.rs
  crypto/src/curve1174/mod.rs
  crypto/src/curve1174/u256.rs
  crypto/src/hash/mod.rs
  crypto/src/pbc/fast.rs
  crypto/src/pbc/mod.rs
  crypto/src/pbc/secure.rs
  crypto/src/utils/mod.rs
  network/src/node/heartbeat/mod.rs
  randhound/src/randhound.rs
Labels: crypto, refactoring

#199 Initial Randhound with network attached
  .gitignore
  .gitlab-ci.yml
  Cargo.lock
  crypto/src/curve1174/cpt.rs
  crypto/src/curve1174/fields.rs
  crypto/src/hash/mod.rs
  crypto/src/lib.rs
  crypto/src/pbc/fast.rs
  crypto/src/pbc/secure.rs
  network/Cargo.toml
  network/src/node/heartbeat/mod.rs
  randhound/Cargo.toml
  randhound/build.rs
  randhound/protos/randhound_proto.proto
  randhound/regen_proto.sh
  randhound/src/lib.rs
  randhound/src/randhound.rs
  src/stegos.rs
Labels: crypto, network

#201 Send transactions over network
  .gitignore
  .gitlab-ci.yml
  Cargo.lock
  blockchain/src/transaction.rs
  crypto/src/bulletproofs/mod.rs
  crypto/src/curve1174/cpt.rs
  node/Cargo.toml
  node/build.rs
  node/protos/node.proto
  node/src/lib.rs
  node/src/protos/mod.rs
  node/src/protos/node.rs
Labels: network, tx
