Repository stegos/stegos, pull requests merged in 2019-01, with the labels that each got.

#292 Remove RandHound from NodeService
  Cargo.lock
  node/Cargo.toml
  node/src/lib.rs
  src/stegos.rs
Labels: network, node

#294 Implement pBFT-like consensus
  Cargo.lock
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  consensus/Cargo.toml
  consensus/src/error.rs
  consensus/src/lib.rs
  consensus/src/message.rs
  consensus/src/multisignature.rs
  consensus/src/state.rs
  node/Cargo.toml
  node/protos/node.proto
  node/src/consensus.rs
  node/src/lib.rs
  node/src/protos/mod.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
Labels: consensus

#298 Don't terminate tmux, after the application termination
  start-cluster.sh
  testing/waiter.sh
Labels: devops, functional testing

#324 Fix libp2p
  Cargo.lock
  Cargo.toml
  network/Cargo.toml
Labels: regression

#331 Add git hash and date to version information
  Cargo.lock
  Cargo.toml
  build.rs
  src/stegos.rs
Labels: repl

#335 Fix VRF system to allow start 3 nodes.
  node/src/tickets.rs
Labels: ticket_system

#336 Initial implementation of unicast communications
  .gitignore
  .gitlab-ci.yml
  network/build.rs
  network/protos/unicast.proto
  network/src/node/broker/mod.rs
  network/src/node/mod.rs
  src/console.rs
Labels: network

#338 Implement Escrow UTXO
  blockchain/src/block.rs
  blockchain/src/error.rs
  blockchain/src/output.rs
  blockchain/src/transaction.rs
  node/data/genesis0.bin
  node/data/genesis1.bin
  node/protos/node.proto
  node/src/lib.rs
  node/src/protos/mod.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
  testing/node03/stegos.toml
Labels: blockchain, tx

#343 Rename MonetaryOutput to PaymentOutput
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/genesis.rs
  blockchain/src/output.rs
  blockchain/src/transaction.rs
  config/src/lib.rs
  node/protos/node.proto
  node/src/lib.rs
  node/src/protos/mod.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
Labels: refactoring

#345 Removed unused imports
  Cargo.lock
  blockchain/src/lib.rs
  config/src/lib.rs
  crypto/Cargo.toml
  crypto/src/lib.rs
  keychain/src/lib.rs
  network/src/lib.rs
  src/stegos.rs
Labels: regression

#347 REPL commands to stake/unstake tokens
  node/src/lib.rs
  src/console.rs
  wallet/src/change.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
Labels: repl, staking/unstaking, wallet

#359 Generate full meshed testing configs
  testing/stegos.toml.j2
Labels: devops, testing

#366 Remove Randhound
  Cargo.lock
  Cargo.toml
  randhound/Cargo.toml
  randhound/build.rs
  randhound/protos/randhound_proto.proto
  randhound/regen_proto.sh
  randhound/src/lib.rs
  randhound/src/randhound.rs
Labels: randhound

#364 Exclude local node from seed nodes
  testing/stegos.toml.j2
Labels: devops, testing

#352 Completely reworked network stack, based on stock `rust-libp2p v0.2`
  .gitignore
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  keychain/Cargo.toml
  keychain/src/lib.rs
  network/Cargo.toml
  network/build.rs
  network/protos/heartbeat_proto.proto
  network/protos/ncp_proto.proto
  network/protos/unicast_proto.proto
  network/regen_proto.sh
  network/src/dummy_network.rs
  network/src/echo/handler.rs
  network/src/echo/mod.rs
  network/src/echo/protocol.rs
  network/src/lib.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/handler.rs
  network/src/ncp/layer.rs
  network/src/ncp/mod.rs
  network/src/ncp/protocol.rs
  network/src/node/broker/mod.rs
  network/src/node/heartbeat/mod.rs
  network/src/node/mod.rs
  network/src/peerstore/mod.rs
  network/src/types.rs
  node/src/lib.rs
  node/src/tickets.rs
  src/console.rs
  src/stegos.rs
Labels: network

#368 Change transaction formation logic for unstaking
  Cargo.lock
  blockchain/src/output.rs
  wallet/Cargo.toml
  wallet/src/error.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
Labels: staking/unstaking, wallet

#370 Add facilitator to keyblock, and election group.
  blockchain/src/block.rs
  blockchain/src/genesis.rs
  node/data/genesis0.bin
  node/data/genesis1.bin
  node/protos/node.proto
  node/src/election.rs
  node/src/lib.rs
  node/src/protos/mod.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
  testing/node03/stegos.toml
Labels: blockchain, node

#372 Refactor transaction validation
  node/protos/node.proto
  node/src/consensus.rs
  node/src/lib.rs
  node/src/protos/mod.rs
Labels: mempool, tx

#373 Decouple Mempool from NodeService
  node/src/lib.rs
  node/src/mempool.rs
Labels: mempool, refactoring

#367 Basic transaction pool Implementation.
  Cargo.lock
  node/src/lib.rs
  src/console.rs
  src/stegos.rs
  txpool/Cargo.toml
  txpool/build.rs
  txpool/protos/txpool.proto
  txpool/src/api.rs
  txpool/src/lib.rs
  txpool/src/messages.rs
  txpool/src/protos.rs
Labels: value shuffle

#378 Cleanup after refactoring protobuf.
  .gitignore
  .gitlab-ci.yml
  blockchain/src/protos.rs
Labels: refactoring

#379 Block Rewards && Monetary Balance Validation
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/genesis.rs
  blockchain/src/protos.rs
  consensus/src/protos.rs
  node/data/genesis0.bin
  node/data/genesis1.bin
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
Labels: blockchain

#388 Initial Kademlia discovery
  Cargo.lock
  network/Cargo.toml
  network/src/lib.rs
  network/src/libp2p_network/kad_discovery.rs
  network/src/libp2p_network/mod.rs
  network/src/peerstore/mod.rs
Labels: network

#397 Update CI to Rust 1.32 and use new library pack
  .gitlab-ci.yml
  Dockerfile
  ci-scripts/install-deps.sh
Labels: ci

#400 Added macOS jobs
  .gitlab-ci.yml
  ci-scripts/install-deps.sh
Labels: ci

#395 Refactor block handlers.
  blockchain/Cargo.toml
  blockchain/src/blockchain.rs
  blockchain/src/escrow.rs
  blockchain/src/lib.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/tickets.rs
Labels: blockchain, node
