Repository stegos/stegos, pull requests merged in 2019-07, with the labels that each got.

#1062 Geneisis block for Mainnet Preview 3
  chains/testnet/genesis.bin
  src/bin/stegosd.rs
Labels: configuration, testing

#1057 Make wallet testable with mocked network
  Cargo.lock
  network/src/loopback.rs
  node/Cargo.toml
  node/src/lib.rs
  node/src/test/consensus.rs
  node/src/test/futures_testing.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/test/requests.rs
  node/src/txpool/mod.rs
  wallet/Cargo.toml
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/test/mod.rs
  wallet/src/test/wallet_transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: api, testing, wallet

#1072 Limit number of HashCash threads
  Cargo.lock
  network/Cargo.toml
  network/src/gatekeeper/behavior.rs
Labels: network

#1070 Recover transaction in case of microblock rollback.
  blockchain/src/blockchain.rs
  node/src/lib.rs
  node/src/mempool.rs
Labels: tx

#1074 Refactor notifications to send use single channel.
  api/src/lib.rs
  api/src/server.rs
  blockchain/src/blockchain.rs
  node/src/api.rs
  node/src/lib.rs
  node/src/test/consensus.rs
  node/src/txpool/mod.rs
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/valueshuffle/mod.rs
Labels: api, node

#1075 Ignore snowball test, and make log in test consistent.
  .gitlab-ci.yml
  wallet/src/test/wallet_transaction.rs
Labels: ci

#1068 Move automatic re-staking from Wallet to Node
  blockchain/src/blockchain.rs
  blockchain/src/escrow.rs
  blockchain/src/slashing.rs
  node/src/lib.rs
  node/src/test/consensus.rs
  node/src/test/mod.rs
  wallet/src/lib.rs
Labels: node, refactoring, wallet

#1086 Rename Wallet
  .gitignore
  api/src/lib.rs
  api/src/server.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/escrow.rs
  blockchain/src/output.rs
  blockchain/src/slashing.rs
  blockchain/src/test.rs
  create-testing-keys.sh
  keychain/src/keyfile.rs
  node/src/api.rs
  node/src/lib.rs
  node/src/proposal.rs
  node/src/validation.rs
  src/bin/bootstrap.rs
  src/bin/stegosd.rs
  src/console.rs
  testing/node01/data/accounts/1.pkey
  testing/node01/data/accounts/1.skey
  testing/node02/data/accounts/1.pkey
  testing/node02/data/accounts/1.skey
  testing/node03/data/accounts/1.pkey
  testing/node03/data/accounts/1.skey
  testing/node04/data/accounts/1.pkey
  testing/node04/data/accounts/1.skey
  testing/node05/data/accounts/1.pkey
  testing/node05/data/accounts/1.skey
  testing/node06/data/accounts/1.pkey
  testing/node06/data/accounts/1.skey
  testing/node07/data/accounts/1.pkey
  testing/node07/data/accounts/1.skey
  wallet/protos/account_log.proto
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/manager.rs
  wallet/src/protos.rs
  wallet/src/recovery.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/test/mod.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: wallet

#1083 Vet timestamps in micro blocks
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/error.rs
  blockchain/src/validation.rs
  node/src/config.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/proposal.rs
Labels: blockchain

#1088 Fix validation of vetted timestamp
  blockchain/src/blockchain.rs
  node/src/lib.rs
Labels: blockchain, bug

#1087 Fixed Snowball restart on failures
  node/src/txpool/mod.rs
  wallet/src/valueshuffle/error.rs
  wallet/src/valueshuffle/mod.rs
Labels: value shuffle

#1089 Updated bootstrap binary
  chains/dev/genesis.bin
  create-testing-keys.sh
  src/bin/bootstrap.rs
  testing/node01/data/accounts/1.pkey
  testing/node01/data/accounts/1.skey
  testing/node01/data/network.pkey
  testing/node01/data/network.skey
  testing/node01/stegos.toml
  testing/node02/data/accounts/1.pkey
  testing/node02/data/accounts/1.skey
  testing/node02/data/network.pkey
  testing/node02/data/network.skey
  testing/node02/stegos.toml
  testing/node03/data/accounts/1.pkey
  testing/node03/data/accounts/1.skey
  testing/node03/data/network.pkey
  testing/node03/data/network.skey
  testing/node03/stegos.toml
  testing/node04/data/accounts/1.pkey
  testing/node04/data/accounts/1.skey
  testing/node04/data/network.pkey
  testing/node04/data/network.skey
  testing/node04/stegos.toml
  testing/node05/data/accounts/1.pkey
  testing/node05/data/accounts/1.skey
  testing/node05/data/network.pkey
  testing/node05/data/network.skey
  testing/node05/stegos.toml
  testing/node06/data/accounts/1.pkey
  testing/node06/data/accounts/1.skey
  testing/node06/data/network.pkey
  testing/node06/data/network.skey
  testing/node06/stegos.toml
  testing/node07/data/accounts/1.pkey
  testing/node07/data/accounts/1.skey
  testing/node07/data/network.pkey
  testing/node07/data/network.skey
  testing/node07/stegos.toml
Labels: configuration

#1094 Rearranged data folder
  .gitignore
  clear-database.sh
  create-testing-keys.sh
  src/bin/stegos.rs
  src/bin/stegosd.rs
  testing/node01/keys/accounts/1/account.pkey
  testing/node01/keys/accounts/1/account.skey
  testing/node01/keys/network.pkey
  testing/node01/keys/network.skey
  testing/node01/stegos.toml
  testing/node02/keys/network.pkey
  testing/node02/keys/network.skey
  testing/node02/stegos.toml
  testing/node03/keys/network.pkey
  testing/node03/keys/network.skey
  testing/node03/stegos.toml
  testing/node04/keys/network.pkey
  testing/node04/keys/network.skey
  testing/node04/stegos.toml
  testing/node05/keys/network.pkey
  testing/node05/keys/network.skey
  testing/node05/stegos.toml
  testing/node06/keys/network.pkey
  testing/node06/keys/network.skey
  testing/node06/stegos.toml
  testing/node07/keys/network.pkey
  testing/node07/keys/network.skey
  testing/node07/stegos.toml
  testing/stegos.toml.j2
  wallet/src/lib.rs
Labels: configuration

#1096 Add procedure to resend transaction.
  node/src/api.rs
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
Labels: api, wallet

#1091 Make snowball return tx created response, when transaction formed.
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/test/account_transaction.rs
Labels: api

#1095 Add DeleteAccount to Wallet API
  src/console.rs
  wallet/src/api.rs
  wallet/src/lib.rs
Labels: api, wallet

#1093 Update constants for mainnet
  blockchain/src/config.rs
  node/src/config.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  src/bin/stegosd.rs
Labels: configuration

#1102 Rearrange data folder
  .gitignore
  create-testing-keys.sh
  src/bin/stegos.rs
  src/bin/stegosd.rs
  testing/node01/accounts/1/account.pkey
  testing/node01/accounts/1/account.skey
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node05/network.pkey
  testing/node05/network.skey
  testing/node06/network.pkey
  testing/node06/network.skey
  testing/node07/network.pkey
  testing/node07/network.skey
  wallet/src/lib.rs
Labels: bug, configuration, refactoring

#1101 Fix bug in API that return incorrect error for "cloak" command.
  wallet/src/error.rs
  wallet/src/lib.rs
Labels: wallet

#1098 Limit maximum participant in txpool.
  node/src/txpool/mod.rs
Labels: value shuffle

#1100 Fix comment field for outputs in show history.
  wallet/protos/account_log.proto
  wallet/src/protos.rs
Labels: bug

#1104 Clear consensus state when consensus is not active.
  consensus/src/state.rs
Labels: consensus, monitoring

#1107 Fix service awards message duplication.
  blockchain/src/awards.rs
  blockchain/src/blockchain.rs
Labels: service awards

#1109 Fix dev build with error.
  blockchain/src/blockchain.rs
Labels: bug, build

#1111 Fix a typo in an error message
  node/src/lib.rs
Labels: bug

#1108 Fix service award and consensus integration with slashing.
  blockchain/src/blockchain.rs
  blockchain/src/election.rs
  node/src/lib.rs
  node/src/test/integration.rs
  node/src/test/mod.rs
Labels: consensus, service awards, slashing, testing

#1114 Limit number of input UTXOs in composed transactions
  node/src/lib.rs
  node/src/txpool/mod.rs
  src/bin/stegosd.rs
  wallet/src/change.rs
  wallet/src/lib.rs
  wallet/src/test/mod.rs
  wallet/src/transaction.rs
Labels: wallet

#1106 Generate accounts for all nodes
  .gitignore
  chains/dev/genesis.bin
  clear-database.sh
  create-testing-keys.sh
  src/bin/bootstrap.rs
  testing/node01/accounts/1/account.pkey
  testing/node01/accounts/1/account.skey
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node02/accounts/1/account.pkey
  testing/node02/accounts/1/account.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node03/accounts/1/account.pkey
  testing/node03/accounts/1/account.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node04/accounts/1/account.pkey
  testing/node04/accounts/1/account.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node05/accounts/1/account.pkey
  testing/node05/accounts/1/account.skey
  testing/node05/network.pkey
  testing/node05/network.skey
  testing/node06/accounts/1/account.pkey
  testing/node06/accounts/1/account.skey
  testing/node06/network.pkey
  testing/node06/network.skey
  testing/node07/accounts/1/account.pkey
  testing/node07/accounts/1/account.skey
  testing/node07/network.pkey
  testing/node07/network.skey
Labels: configuration

#1118 Set transaction to committed status after macro block.
  wallet/src/lib.rs
  wallet/src/storage.rs
Labels: wallet

#1112 Optimize BP validation
  Cargo.lock
  blockchain/benches/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/test.rs
  blockchain/src/validation.rs
  chains/dev/genesis.bin
  node/Cargo.toml
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/proposal.rs
  node/src/validation.rs
  src/bin/bootstrap.rs
  testing/node01/accounts/1/account.pkey
  testing/node01/accounts/1/account.skey
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/stegos.toml
  testing/node02/accounts/1/account.pkey
  testing/node02/accounts/1/account.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/stegos.toml
  testing/node03/accounts/1/account.pkey
  testing/node03/accounts/1/account.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/stegos.toml
  testing/node04/accounts/1/account.pkey
  testing/node04/accounts/1/account.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/stegos.toml
  testing/node05/accounts/1/account.pkey
  testing/node05/accounts/1/account.skey
  testing/node05/network.pkey
  testing/node05/network.skey
  testing/node06/accounts/1/account.pkey
  testing/node06/accounts/1/account.skey
  testing/node06/network.pkey
  testing/node06/network.skey
  testing/node07/accounts/1/account.pkey
  testing/node07/accounts/1/account.skey
  testing/node07/network.pkey
  testing/node07/network.skey
Labels: blockchain, node

#1122 Replace HashCash in network handshake with VDF
  blockchain/src/awards.rs
  crypto/protos/crypto.proto
  crypto/src/hashcash/mod.rs
  crypto/src/lib.rs
  crypto/src/protos.rs
  network/protos/gatekeeper_proto.proto
  network/src/config.rs
  network/src/gatekeeper/behavior.rs
  network/src/gatekeeper/protocol.rs
  network/src/libp2p_network/mod.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/node04/stegos.toml
  testing/node05/stegos.toml
  testing/node06/stegos.toml
  testing/node07/stegos.toml
  testing/stegos.toml.j2
Labels: crypto, network

#1123 Fix bug in test framework that at some condition could cause to failing.
  node/src/test/futures_testing.rs
  node/src/test/mod.rs
Labels: testing

#1126 Genesis block for devnnet
  chains/devnet/genesis.bin
  src/bin/stegosd.rs
Labels: configuration, testing

#1127 Fix test framework usage wallet.
  wallet/src/test/mod.rs
Labels: testing

#1135 Fixed genesis block for devnet
  chains/devnet/genesis.bin
Labels: configuration, testing

#1128 Refactor monitoring metrics
  blockchain/src/blockchain.rs
  blockchain/src/metrics.rs
  blockchain/src/timestamp.rs
  node/src/config.rs
  node/src/lib.rs
  node/src/metrics.rs
  src/lib.rs
Labels: monitoring

#1136 Updated Dockerfile and external libraries
  Dockerfile
  ci-scripts/install-deps.sh
Labels: build, docker

#1138 Fix check for leading '.' in accounts folder
  wallet/src/lib.rs
Labels: bug, configuration

#1130 Check locked_timestamp() in validate_macro_block()
  blockchain/src/validation.rs
Labels: blockchain

#1139 Add path /usr/lib to search list, to allow build on Arch.
  crypto/build.rs
Labels: bug

#1129 Don't log binary data on decryption error in API
  api/src/lib.rs
Labels: api, bug

#1134 Show remote server version on `show version`
  api/src/lib.rs
  api/src/server.rs
  src/bin/stegosd.rs
  src/console.rs
Labels: api, bug

#1142 Fix crash on second re-staking
  blockchain/src/blockchain.rs
  node/src/config.rs
  node/src/lib.rs
  node/src/mempool.rs
Labels: bug, staking/unstaking

#1144 Tune monitoring histograms
  blockchain/src/metrics.rs
  blockchain/src/validation.rs
  crypto/src/pbc/mod.rs
  node/src/lib.rs
  node/src/metrics.rs
Labels: monitoring

#1141 Add tests for service award.
  blockchain/src/awards.rs
  blockchain/src/lib.rs
  blockchain/src/validation.rs
  node/src/test/integration.rs
  node/src/test/mod.rs
Labels: service awards

#1150 Ignore fast-checks temporary.
  .gitlab-ci.yml
Labels: ci

#1148 Add more tests for wallet
  network/src/loopback.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/test/mod.rs
Labels: wallet

#1152 Allow to override configuration options via command-line
  api/src/server.rs
  node/src/lib.rs
  src/bin/stegos.rs
  src/bin/stegosd.rs
  src/config.rs
  src/console.rs
  src/lib.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/node04/stegos.toml
  testing/node05/stegos.toml
  testing/node06/stegos.toml
  testing/node07/stegos.toml
Labels: configuration

#1153 Use mSTG everythere in CLI
  src/console.rs
  src/lib.rs
  src/money.rs
Labels: console

#1143 Add seed for generated keys in tests.
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  blockchain/Cargo.toml
  blockchain/benches/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/test.rs
  consensus/Cargo.toml
  network/Cargo.toml
  node/Cargo.toml
  node/src/test/mod.rs
  node/src/validation.rs
  wallet/Cargo.toml
Labels: testing

#1157 Wait until recovery ends before processing requests in AccountService
  wallet/src/lib.rs
  wallet/src/test/account_transaction.rs
Labels: bug

#1159 Refactor serialization representation of PaymentTransactionValue and OutputValue.
  blockchain/src/output.rs
  wallet/protos/account_log.proto
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
Labels: api, wallet

#1156 Fix resending tx on timeout.
  node/src/api.rs
  node/src/lib.rs
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
Labels: api, wallet

#1158 Make wallet log recover after unseal correctly.
  blockchain/src/blockchain.rs
  blockchain/src/test.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
Labels: api, wallet

#1162 Accept dublicate tx on node side
  node/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/test/mod.rs
Labels: api, node, wallet

#1166 Account log refactoring
  blockchain/protos/blockchain.proto
  blockchain/src/protos.rs
  crypto/src/hash/mod.rs
  wallet/protos/account_log.proto
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/test/mod.rs
  wallet/src/transaction.rs
Labels: api, wallet

#1169 Genesis block for devnet with updated difficulty
  chains/devnet/genesis.bin
  node/src/txpool/mod.rs
  src/bin/bootstrap.rs
Labels: configuration, testing

#1167 Add tests of invalid microblock.
  node/src/test/microblocks.rs
Labels: consensus, node

#1170 Add Payment Certificate validation
  Cargo.lock
  blockchain/Cargo.toml
  blockchain/src/blockchain.rs
  blockchain/src/output.rs
  crypto/src/scc/mod.rs
  node/src/api.rs
  node/src/lib.rs
  src/console.rs
  wallet/src/test/account_transaction.rs
Labels: enhancement

#1172 Implement pending utxos.
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
Labels: wallet

#1173 Update ValidateCertificate API
  blockchain/src/blockchain.rs
  blockchain/src/output.rs
  node/src/api.rs
  node/src/lib.rs
  src/console.rs
  wallet/src/test/account_transaction.rs
Labels: api

#1171 ValueShuffle enhancement
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/metrics.rs
  wallet/src/test/account_transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: value shuffle

#1176 Shutdown snowball onpending payements timeout.
  wallet/src/lib.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: api, wallet

#1174 Disable compaction of inputs/outputs during Macro Block creation
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/validation.rs
  node/src/api.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/validation.rs
  wallet/src/lib.rs
  wallet/src/test/account_transaction.rs
Labels: blockchain

#1182 Increase max_outputs_in_tx to 50
  node/src/config.rs
Labels: configuration

#1178 Fix bug, where wrong facilitator could break snowball state.
  wallet/src/test/account_transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: wallet
