Repository stegos/stegos, pull requests merged in 2019-12, with the labels that each got.

#1440 Make payment fee fixed, improve errors.
  wallet/src/change.rs
  wallet/src/error.rs
  wallet/src/lib.rs
  wallet/src/test/account_transaction.rs
  wallet/src/transaction.rs
Labels: bug, wallet

#1423 Add a sharedlibrary + JNI bindings
  .gitignore
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  api/src/crypto.rs
  blockchain/src/lib.rs
  ci-scripts/build.sh
  ci-scripts/rustlinker
  keychain/src/keyfile.rs
  src/Stegos.java
  src/bin/bootstrap.rs
  src/bin/stegos/console.rs
  src/bin/stegosd/main.rs
  src/lib.rs
Labels: android, build

#1441 Implemented API call to get list of connected peers
  .gitignore
  Cargo.lock
  api/src/lib.rs
  api/src/server.rs
  network/Cargo.toml
  network/src/lib.rs
  network/src/libp2p_network/mod.rs
  network/src/loopback.rs
  network/src/ncp/behavior.rs
  network/src/ncp/mod.rs
  src/bin/stegos/console.rs
  start-cluster.sh
Labels: api, network

#1437 Move transaction tracking to wallet module.
  api/src/server.rs
  blockchain/src/block.rs
  node/src/api.rs
  node/src/lib.rs
  node/src/test/mod.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
Labels: refactoring, wallet

#1448 Change crate that implement AES
  Cargo.lock
  api/Cargo.toml
  api/src/crypto.rs
  crypto/Cargo.toml
  crypto/build.rs
  crypto/src/aont/mod.rs
  crypto/src/bin/keys.rs
  crypto/src/lib.rs
  crypto/src/pbc/mod.rs
  crypto/src/protos.rs
  crypto/src/scc/mod.rs
Labels: refactoring

#1452 Fix epoch panic.
  src/bin/stegosd/main.rs
Labels: bug

#1460 Remove virtual public addresses
  src/bin/stegos/console.rs
  wallet/protos/account_log.proto
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
  wallet/src/transaction.rs
Labels: refactoring, wallet

#1456 Websocket from future to stream.
  api/src/client.rs
  src/bin/stegos/console.rs
Labels: improvements

#1464 Fix public output processing.
  wallet/src/lib.rs
Labels: bug, wallet
