Repository stegos/stegos, pull requests merged in 2019-05, with the labels that each got.

#821 Implement re-staking without re-keying
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/election.rs
  blockchain/src/error.rs
  blockchain/src/escrow.rs
  blockchain/src/output.rs
  node/src/config.rs
  node/src/test/consensus.rs
  node/src/validation.rs
  src/console.rs
  wallet/src/api.rs
  wallet/src/error.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
Labels: staking/unstaking

#819 Add random into microblock
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/election.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/protos.rs
  blockchain/src/storage.rs
  chains/dev/genesis0.bin
  chains/dev/genesis1.bin
  consensus/src/protos.rs
  consensus/src/state.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/validation.rs
  src/stegos.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/stegos.toml
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/stegos.toml
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/stegos.toml
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/stegos.toml
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
Labels: consensus

#827 Move all validation code into one file
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/lib.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  blockchain/src/view_changes.rs
  consensus/src/optimistic.rs
  consensus/src/protos.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/validation.rs
Labels: refactoring

#830 Updated genesis block for Devnet
  chains/devnet/genesis0.bin
  chains/devnet/genesis1.bin
  src/stegos.rs
Labels: testing

#838 Updated Testnet genesis block
  chains/testnet/genesis0.bin
  chains/testnet/genesis1.bin
  src/stegos.rs
Labels: configuration, testing

#844 Add API call to change Network(PBC) key
  network/src/discovery/behavior.rs
  network/src/gatekeeper/behavior.rs
  network/src/kad/behaviour.rs
  network/src/kad/kbucket.rs
  network/src/lib.rs
  network/src/libp2p_network/mod.rs
  network/src/loopback.rs
  network/src/ncp/behavior.rs
Labels: network

#846 Fix Network readiness status event
  network/src/pubsub/behavior.rs
Labels: bug, network

#833 New blocks
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/protos.rs
  blockchain/src/storage.rs
  blockchain/src/validation.rs
  chains/dev/genesis0.bin
  chains/dev/genesis1.bin
  chains/devnet/genesis1.bin
  chains/testnet/genesis1.bin
  consensus/protos/consensus.proto
  consensus/src/blockchain.rs
  consensus/src/protos.rs
  create-testing-keys.sh
  node/src/config.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/mempool.rs
  node/src/metrics.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/test/requests.rs
  node/src/test/simple_tests.rs
  node/src/validation.rs
  src/bin/stegos.rs
  src/lib.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/stegos.toml
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/stegos.toml
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/stegos.toml
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/stegos.toml
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
Labels: blockchain

#850 Moved network ready detection to gatekeeper
  network/src/gatekeeper/behavior.rs
  network/src/libp2p_network/mod.rs
  network/src/pubsub/behavior.rs
Labels: network

#852 Add configuration to HashCash complexity
  network/src/config.rs
  network/src/gatekeeper/behavior.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/node04/stegos.toml
  testing/stegos.toml.j2
Labels: network

#855 Inline TransactionBody into Transaction
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/protos.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/validation.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: refactoring

#847 Rollback in case of view_change proof received.
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/validation.rs
  consensus/protos/consensus.proto
  consensus/src/error.rs
  consensus/src/optimistic.rs
  consensus/src/protos.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/test/microblocks.rs
Labels: consensus

#848 Don't send network messages until network is ready
  network/src/gatekeeper/behavior.rs
  network/src/lib.rs
  node/src/lib.rs
  node/src/test/mod.rs
Labels: network, node

#857 Rename Transaction to PaymentTransaction, add enum Transaction
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/protos.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/test/simple_tests.rs
  node/src/validation.rs
  wallet/examples/show_utxo_chunks.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: refactoring, staking/unstaking, tx

#864 Send Network::Ready event on subscription to status channel
  network/src/gatekeeper/behavior.rs
  network/src/libp2p_network/mod.rs
Labels: bug, network

#836 Track commited status for generator
  Cargo.lock
  keychain/src/lib.rs
  src/bin/transaction_generator.rs
  src/config.rs
  src/console.rs
  src/generator.rs
  wallet/Cargo.toml
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/tests/mod.rs
Labels: testing, tx

#861 Updated to libp2p core v0.7.0
  Cargo.lock
  network/Cargo.toml
  network/src/delivery/handler.rs
  network/src/delivery/protocol.rs
  network/src/gatekeeper/handler.rs
  network/src/gatekeeper/protocol.rs
  network/src/kad/behaviour.rs
  network/src/kad/handler.rs
  network/src/kad/protocol.rs
  network/src/kad/query.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/behavior.rs
  network/src/ncp/handler.rs
  network/src/ncp/protocol.rs
  network/src/pubsub/handler.rs
  network/src/pubsub/protocol.rs
Labels: network

#867 Fix buggy "db pop block" command
  node/src/lib.rs
Labels: bug, node, wallet

#869 Fix for RUSTSEC-2019-0004
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  blockchain/Cargo.toml
  consensus/Cargo.toml
  crypto/Cargo.toml
  network/Cargo.toml
  node/Cargo.toml
  serialization/Cargo.toml
  txpool/Cargo.toml
  wallet/Cargo.toml
Labels: api

#874 Fix thread 'tokio-runtime-worker-1' panicked at 'Have stakes'
  blockchain/src/blockchain.rs
Labels: bug, wallet

#858 Drop stale connections
  network/protos/ncp_proto.proto
  network/src/ncp/behavior.rs
  network/src/ncp/handler.rs
  network/src/ncp/protocol.rs
  network/src/utils/expiring_queue.rs
Labels: network

#876 Fix explosive outbound connects on start
  network/src/ncp/behavior.rs
Labels: bug, network

#878 Updated devnet genesis block
  chains/devnet/genesis0.bin
Labels: testing

#883 Fix typo in NCP protobuf decode
  Cargo.lock
  network/src/ncp/protocol.rs
Labels: blockchain, bug, network

#884 Drop incoming messages from not-enabled peers
  network/src/pubsub/behavior.rs
Labels: bug, network

#866 Convert Coinbase to transaction
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/protos.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
Labels: blockchain

#887 Update to protobuf v2.6
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  blockchain/Cargo.toml
  consensus/Cargo.toml
  crypto/Cargo.toml
  network/Cargo.toml
  node/Cargo.toml
  serialization/Cargo.toml
  txpool/Cargo.toml
  wallet/Cargo.toml
Labels: security

#888 Random delay as race workaroung
  network/src/gatekeeper/behavior.rs
  network/src/libp2p_network/mod.rs
Labels: network

#870 Use enum for node validation state
  blockchain/src/validation.rs
  consensus/src/optimistic.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/metrics.rs
  node/src/test/consensus.rs
  node/src/test/futures_testing.rs
  node/src/test/mod.rs
  node/src/test/simple_tests.rs
  node/src/timer.rs
  src/bin/stegos.rs
Labels: refactoring

#897 Fix panic after fork resolution.
  node/src/lib.rs
  node/src/test/microblocks.rs
Labels: bug

#895 Update devnet genesis block
  chains/devnet/genesis0.bin
Labels: testing

#893 Removed irrelevant error message
  network/src/libp2p_network/mod.rs
Labels: network

#902 New genesis block for Testnet-7
  chains/testnet/genesis0.bin
Labels: testing

#908 Updated genesis block and keys on Devnet
  Dockerfile
  chains/devnet/genesis0.bin
Labels: testing

#910 Simplified pubsub and minor updates to handlers
  Cargo.lock
  network/src/delivery/behavior.rs
  network/src/delivery/handler.rs
  network/src/discovery/behavior.rs
  network/src/gatekeeper/behavior.rs
  network/src/gatekeeper/handler.rs
  network/src/kad/behaviour.rs
  network/src/kad/handler.rs
  network/src/lib.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/behavior.rs
  network/src/ncp/handler.rs
  network/src/pubsub/behavior.rs
  network/src/pubsub/handler.rs
Labels: network

#906 Check genesis block before loading entire database
  blockchain/src/blockchain.rs
Labels: bug, persistency

#917 Fix random failed test.
  node/src/test/microblocks.rs
Labels: testing

#916 Make network readiness threshold tunable
  network/src/config.rs
  network/src/gatekeeper/behavior.rs
Labels: network

#918 Remove ViewChangeProof from MacroBlock
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/genesis.rs
  blockchain/src/protos.rs
  blockchain/src/validation.rs
Labels: refactoring

#806 Slashing basic implementation.
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/escrow.rs
  blockchain/src/lib.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/slashing.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  crypto/src/bulletproofs/mod.rs
  crypto/src/curve1174/cpt.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/validation.rs
Labels: blockchain, blocked

#913 Don't send entire macro block in consensus
  blockchain/src/block.rs
  blockchain/src/error.rs
  blockchain/src/multisignature.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  consensus/protos/consensus.proto
  consensus/src/blockchain.rs
  consensus/src/lib.rs
  consensus/src/message.rs
  consensus/src/protos.rs
  consensus/src/state.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/proposal.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/validation.rs
Labels: consensus

#921 Add rewards to MacroBlocks
  blockchain/src/block.rs
  blockchain/src/transaction.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/proposal.rs
  node/src/test/microblocks.rs
Labels: blockchain

#924 Reconnect failed mutual connection attempts
  Cargo.lock
  network/src/gatekeeper/behavior.rs
  network/src/kad/behaviour.rs
  network/src/libp2p_network/mod.rs
  network/src/pubsub/behavior.rs
  src/bin/stegos.rs
  testing/node01/stegos.toml
Labels: network

#926 Added incoming messages rate metric for PubSub
  Cargo.lock
  network/Cargo.toml
  network/src/pubsub/behavior.rs
  network/src/pubsub/metrics.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/node04/stegos.toml
  testing/stegos.toml.j2
Labels: network

#929 Update metrics periodically, instead of on message receive
  network/src/pubsub/behavior.rs
Labels: network

#930 Prepare for new Macro Blocks
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/validation.rs
  chains/dev/genesis.bin
  chains/devnet/genesis.bin
  chains/testnet/genesis.bin
  consensus/protos/consensus.proto
  consensus/src/message.rs
  consensus/src/protos.rs
  create-testing-keys.sh
  node/src/lib.rs
  node/src/loader.rs
  node/src/proposal.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  src/bin/bootstrap.rs
  src/lib.rs
Labels: blockchain, breaking change, node, refactoring

#927 Service award initial implementation.
  blockchain/protos/blockchain.proto
  blockchain/src/awards.rs
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/election.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/lib.rs
  blockchain/src/mvcc.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  chains/dev/genesis.bin
  crypto/src/hashcash/mod.rs
  crypto/src/utils/mod.rs
  node/src/config.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/proposal.rs
  node/src/validation.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/stegos.toml
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
  testing/stegos.toml.j2
Labels: enhancement

#931 Prepare for new Macro Blocks
  blockchain/src/blockchain.rs
  blockchain/src/escrow.rs
  blockchain/src/mvcc.rs
  blockchain/src/validation.rs
  node/src/lib.rs
Labels: refactoring

#933 Fix assertion in wallet
  wallet/src/lib.rs
Labels: bug
