Repository stegos/stegos, pull requests merged in 2019-06, with the labels that each got.

#932 New Macro Blocks
  blockchain/protos/blockchain.proto
  blockchain/protos/view_changes.proto
  blockchain/src/awards.rs
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/election.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/metrics.rs
  blockchain/src/mvcc.rs
  blockchain/src/protos.rs
  blockchain/src/slashing.rs
  blockchain/src/storage.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  chains/dev/genesis.bin
  consensus/protos/consensus.proto
  consensus/src/error.rs
  consensus/src/message.rs
  consensus/src/optimistic.rs
  consensus/src/protos.rs
  consensus/src/state.rs
  node/protos/loader.proto
  node/src/config.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/mempool.rs
  node/src/proposal.rs
  node/src/protos/mod.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/stegos.toml
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/stegos.toml
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/stegos.toml
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/stegos.toml
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
  wallet/src/lib.rs
Labels: blockchain

#934 Add public outputs to wallet, add command for cli.
  src/console.rs
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
Labels: api, wallet

#950 Fixed a bug in restaking.
  node/src/lib.rs
  wallet/src/lib.rs
Labels: bug

#952 Check block for valid primary key before starting fork resolution
  node/src/lib.rs
Labels: bug, node

#956 Updated genesis block for devnet
  chains/devnet/genesis.bin
Labels: testing

#960 Detect listening address from the running Swarm
  network/src/libp2p_network/mod.rs
Labels: network, regression

#954 Make utxos lockable.
  Cargo.lock
  Cargo.toml
  blockchain/protos/blockchain.proto
  blockchain/src/blockchain.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/slashing.rs
  blockchain/src/validation.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/validation.rs
  src/console.rs
  src/generator.rs
  wallet/Cargo.toml
  wallet/examples/show_utxo_chunks.rs
  wallet/src/api.rs
  wallet/src/change.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: api, blockchain, wallet

#964 Updated Dockerfile
  Dockerfile
Labels: devops, security

#957 Speed up bootstrap
  Cargo.lock
  blockchain/Cargo.toml
  blockchain/src/blockchain.rs
  blockchain/src/escrow.rs
  blockchain/src/transaction.rs
  blockchain/src/validation.rs
  node/src/config.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/test/requests.rs
Labels: blockchain, fast bootstrap, node

#962 Add notification about synchronization status to Node API
  api/src/lib.rs
  node/src/lib.rs
Labels: api

#966 Refactor and tune configuration
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  node/src/config.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/mempool.rs
  node/src/proposal.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/test/requests.rs
  node/src/validation.rs
  src/bin/bootstrap.rs
  src/bin/stegos.rs
  src/bin/transaction_generator.rs
  src/config.rs
Labels: configuration, refactoring

#968 Genesis block for Mainnet Alpha-1
  chains/testnet/genesis.bin
  src/bin/stegos.rs
Labels: configuration, testing

#971 Fix bug with second restaking again.
  node/src/lib.rs
  node/src/test/consensus.rs
Labels: bug

#969 Remove generator from console
  src/bin/stegos.rs
  src/console.rs
Labels: refactoring

#972 Make valueshuffle work cross-epoch, and add txpool service to generator node.
  Cargo.lock
  crypto/protos/crypto.proto
  crypto/src/dicemix/mod.rs
  crypto/src/protos.rs
  src/bin/transaction_generator.rs
  txpool/protos/txpool.proto
  txpool/src/lib.rs
  txpool/src/messages.rs
  txpool/src/protos.rs
  wallet/Cargo.toml
  wallet/protos/valueshuffle.proto
  wallet/src/valueshuffle/message.rs
  wallet/src/valueshuffle/mod.rs
  wallet/src/valueshuffle/protos.rs
Labels: value shuffle

#970 Add r-value return from AES encription.
  blockchain/src/blockchain.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/test.rs
  blockchain/src/validation.rs
  crypto/src/curve1174/cpt.rs
  crypto/src/curve1174/mod.rs
  node/src/mempool.rs
  node/src/proposal.rs
  src/bin/bootstrap.rs
  wallet/examples/show_utxo_chunks.rs
  wallet/src/lib.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: crypto, payment certificates, wallet

#975 Add bench for microblock.
  Cargo.lock
  blockchain/Cargo.toml
  blockchain/benches/block.rs
  blockchain/src/blockchain.rs
Labels: benchmarks

#977 Replaced hex encodings for Wallet PKey with Base58Check
  Cargo.lock
  crypto/Cargo.toml
  crypto/src/curve1174/cpt.rs
  crypto/src/lib.rs
  src/bin/stegos.rs
  src/console.rs
  wallet/src/lib.rs
Labels: enhancement

#974 Websocket API message encryption implemented
  .gitignore
  Cargo.lock
  api/Cargo.toml
  api/src/config.rs
  api/src/crypto.rs
  api/src/error.rs
  api/src/lib.rs
  stegos.toml.example
Labels: api, security

#980 Add generated Wallet pkey output to console
  src/bin/bootstrap.rs
Labels: devops

#983 Updated genesis block for 32-nodes devnet
  chains/devnet/genesis.bin
Labels: testing

#981 Switch Console to use public WebSocket API
  Cargo.lock
  api/Cargo.toml
  api/src/client.rs
  api/src/config.rs
  api/src/crypto.rs
  api/src/lib.rs
  api/src/server.rs
  blockchain/src/election.rs
  blockchain/src/escrow.rs
  blockchain/src/output.rs
  crypto/src/pbc/secure.rs
  node/src/lib.rs
  src/bin/stegos.rs
  src/config.rs
  src/console.rs
  wallet/src/api.rs
Labels: api, console

#989 Fix generator wallet_skey path.
  src/bin/transaction_generator.rs
Labels: api, wallet

#988 Extract console into a separate binary
  api/src/client.rs
  api/src/lib.rs
  src/bin/stegos.rs
  src/bin/stegosd.rs
  src/console.rs
Labels: console

#976 Refactor stake validation
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/escrow.rs
  blockchain/src/slashing.rs
  blockchain/src/validation.rs
  node/src/validation.rs
  wallet/src/lib.rs
Labels: refactoring, staking/unstaking

#993 Fix start cluster command.
  start-cluster.sh
Labels: api

#965 Payment certificate api
  .gitignore
  Cargo.lock
  blockchain/src/config.rs
  clear-database.sh
  node/src/lib.rs
  src/bin/stegosd.rs
  src/bin/transaction_generator.rs
  src/config.rs
  src/console.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/node04/stegos.toml
  testing/stegos.toml.j2
  wallet/Cargo.toml
  wallet/build.rs
  wallet/protos/wallet_log.proto
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/protos.rs
Labels: api

#990 Add support for variable tx fees
  node/src/config.rs
  node/src/lib.rs
  node/src/mempool.rs
  src/bin/stegosd.rs
  src/bin/transaction_generator.rs
  src/console.rs
  src/generator.rs
  wallet/src/api.rs
  wallet/src/lib.rs
Labels: api, console, enhancement, wallet

#995 Build release binaries for stegosd and stegos cli
  .gitlab-ci.yml
Labels: ci

#991 Implement changing of wallet password
  chains/dev/genesis.bin
  keychain/src/input.rs
  keychain/src/keyfile.rs
  src/bin/bootstrap.rs
  src/bin/stegosd.rs
  src/bin/transaction_generator.rs
  src/console.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
  wallet/src/api.rs
  wallet/src/lib.rs
Labels: enhancement, wallet

#1000 Refactor timestamps
  Cargo.lock
  blockchain/Cargo.toml
  blockchain/benches/block.rs
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/lib.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/storage.rs
  blockchain/src/test.rs
  blockchain/src/timestamp.rs
  blockchain/src/validation.rs
  consensus/src/protos.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/metrics.rs
  node/src/proposal.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/validation.rs
  src/bin/bootstrap.rs
  src/bin/stegosd.rs
  src/bin/transaction_generator.rs
  src/console.rs
  src/lib.rs
  wallet/examples/show_utxo_chunks.rs
  wallet/src/api.rs
  wallet/src/change.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: api, refactoring

#1003 Updated Dockerfile
  Dockerfile
Labels: docker

#999 Changed format for stored Wallet and Network PKeys
  chains/dev/genesis.bin
  crypto/src/lib.rs
  keychain/src/keyfile.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
Labels: configuration

#1001 Refactor console
  .gitignore
  api/src/lib.rs
  clear-database.sh
  src/config.rs
  src/console.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/node04/stegos.toml
  testing/stegos.toml.j2
  wallet/src/api.rs
  wallet/src/lib.rs
Labels: console, refactoring

#958 Don't accept transactions until synchronized
  node/src/lib.rs
  wallet/src/lib.rs
Labels: improvements, node, tx

#1007 Genesis block for Mainnet Preview 2
  chains/testnet/genesis.bin
Labels: configuration

#1009 Changed default locations for chain and wallet databases
  .gitignore
  clear-database.sh
  src/config.rs
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/node04/stegos.toml
  testing/stegos.toml.j2
Labels: configuration

#1011 Fix ENTRYPOINT in Dockerfile
  Dockerfile
Labels: docker

#1015 Add stegosd to Docker image
  Dockerfile
Labels: bug, docker

#978 Speed up BLS
  Cargo.lock
  blockchain/benches/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/protos.rs
  chains/dev/genesis.bin
  crypto/Cargo.toml
  crypto/examples/pbc.rs
  crypto/src/curve1174/mod.rs
  crypto/src/dicemix/mod.rs
  crypto/src/lib.rs
  crypto/src/pbc/fast.rs
  crypto/src/pbc/internal.rs
  crypto/src/pbc/mod.rs
  crypto/src/pbc/secure.rs
  crypto/src/protos.rs
  network/src/kad/behaviour.rs
  src/bin/stegosd.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
Labels: crypto

#1017 Updated genesis block
  chains/devnet/genesis.bin
  src/bin/stegosd.rs
Labels: configuration, testing

#1019 Refactor dependencies
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  blockchain/Cargo.toml
  crypto/Cargo.toml
  crypto/build.rs
  network/Cargo.toml
  network/src/delivery/behavior.rs
  network/src/delivery/handler.rs
  network/src/delivery/protocol.rs
  network/src/discovery/behavior.rs
  network/src/gatekeeper/behavior.rs
  network/src/gatekeeper/handler.rs
  network/src/gatekeeper/protocol.rs
  network/src/kad/addresses.rs
  network/src/kad/behaviour.rs
  network/src/kad/handler.rs
  network/src/kad/kbucket.rs
  network/src/kad/protocol.rs
  network/src/kad/query.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/behavior.rs
  network/src/ncp/handler.rs
  network/src/ncp/protocol.rs
  network/src/pubsub/behavior.rs
  network/src/pubsub/handler.rs
  network/src/pubsub/protocol.rs
  network/src/utils/expiring_queue.rs
  network/src/utils/multihash.rs
  network/src/utils/peer_id_key.rs
  network/stubs/libp2p/Cargo.toml
  network/stubs/libp2p/src/lib.rs
Labels: network, refactoring

#1013 Make payment certificate creatable from CLI.
  src/console.rs
  src/generator.rs
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
  wallet/src/tests/mod.rs
  wallet/src/transaction.rs
Labels: api, wallet

#1028 Fix panic in API
  api/src/server.rs
  start-cluster.sh
Labels: api, bug

#1022 Fix code coverage report
  .gitlab-ci.yml
  ci-scripts/coverage.sh
Labels: blockchain

#1031 Fixed console and add extra 2 node configs
  src/console.rs
  testing/node05/network.pkey
  testing/node05/network.skey
  testing/node05/password.txt
  testing/node05/stegos.toml
  testing/node05/wallet.pkey
  testing/node05/wallet.skey
  testing/node06/network.pkey
  testing/node06/network.skey
  testing/node06/password.txt
  testing/node06/stegos.toml
  testing/node06/wallet.pkey
  testing/node06/wallet.skey
Labels: bug, console

#1027 Update benchmarks
  Cargo.lock
  blockchain/Cargo.toml
  blockchain/benches/block.rs
  blockchain/benches/election.rs
  blockchain/src/blockchain.rs
  blockchain/src/test.rs
  crypto/Cargo.toml
  crypto/benches/bulletproofs.rs
  crypto/benches/curve1174.rs
  crypto/benches/pbc.rs
  src/bin/stegosd.rs
  src/bin/transaction_generator.rs
Labels: blockchain, crypto

#1033 Coverage testing
  .gitlab-ci.yml
  ci-scripts/coverage.sh
Labels: ci

#1035 Switch to Rust nightly-2019-06-25 in CI
  .gitlab-ci.yml
  api/src/client.rs
  api/src/server.rs
  blockchain/src/lib.rs
  blockchain/src/protos.rs
  ci-scripts/coverage.sh
  consensus/src/protos.rs
  crypto/src/lib.rs
  crypto/src/protos.rs
  network/src/delivery/proto.rs
  network/src/delivery/protocol.rs
  network/src/gatekeeper/proto.rs
  network/src/gatekeeper/protocol.rs
  network/src/kad/dht_proto.rs
  network/src/kad/protocol.rs
  network/src/lib.rs
  network/src/libp2p_network/proto.rs
  network/src/ncp/proto.rs
  network/src/ncp/protocol.rs
  network/src/pubsub/proto.rs
  node/src/lib.rs
  node/src/protos/mod.rs
  txpool/src/lib.rs
  txpool/src/protos.rs
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
  wallet/src/valueshuffle/mod.rs
Labels: ci

#1032 Add tests for invalid prevotes and proposes.
  consensus/src/state.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/proposal.rs
  node/src/test/consensus.rs
Labels: consensus, testing

#1040 Updated devnet genesis block
  chains/devnet/genesis.bin
  src/bin/stegosd.rs
Labels: configuration, testing

#1042 Switched base image to pinned nightly Rust version
  Dockerfile
Labels: docker

#1049 Fix loader_speed_in_epoch
  node/src/loader.rs
Labels: bootstrap, bug

#1048 Fix leak of local IPs
  Cargo.lock
  Cargo.toml
  blockchain/Cargo.toml
  consensus/Cargo.toml
  network/Cargo.toml
  network/src/config.rs
  network/src/delivery/behavior.rs
  network/src/discovery/behavior.rs
  network/src/gatekeeper/behavior.rs
  network/src/kad/behaviour.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/behavior.rs
  network/src/pubsub/behavior.rs
  network/stubs/libp2p/Cargo.toml
  node/Cargo.toml
  wallet/Cargo.toml
Labels: network

#1055 Merge txpool with node.
  Cargo.lock
  Cargo.toml
  node/protos/txpool.proto
  node/src/lib.rs
  node/src/protos/mod.rs
  node/src/txpool/messages.rs
  node/src/txpool/mod.rs
  src/bin/stegosd.rs
  src/bin/transaction_generator.rs
  txpool/Cargo.toml
  txpool/build.rs
  txpool/src/protos.rs
  wallet/Cargo.toml
  wallet/src/valueshuffle/mod.rs
Labels: refactoring

#1056 Remove Merkle<Output> from the block
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/merkle.rs
  blockchain/src/protos.rs
  blockchain/src/test.rs
  blockchain/src/validation.rs
  chains/dev/genesis.bin
  src/bin/bootstrap.rs
  src/bin/stegosd.rs
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
  testing/node05/network.pkey
  testing/node05/network.skey
  testing/node05/wallet.pkey
  testing/node05/wallet.skey
  testing/node06/network.pkey
  testing/node06/network.skey
  testing/node06/wallet.pkey
  testing/node06/wallet.skey
  testing/node07/network.pkey
  testing/node07/network.skey
  testing/node07/wallet.pkey
  testing/node07/wallet.skey
Labels: blockchain, breaking change

#1058 Speed up recovery from the disk
  blockchain/benches/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/error.rs
  blockchain/src/lib.rs
  blockchain/src/output.rs
  blockchain/src/storage.rs
  blockchain/src/validation.rs
  node/src/loader.rs
  node/src/proposal.rs
  node/src/test/mod.rs
  node/src/validation.rs
  src/bin/stegosd.rs
  src/config.rs
Labels: blockchain

#1060 Updated genesis
  chains/devnet/genesis.bin
Labels: configuration, testing
