Repository stegos/stegos, pull requests merged in 2019-08, with the labels that each got.

#1190 fix ValueShuffle
  crypto/src/dicemix/mod.rs
  crypto/src/scc/mod.rs
  wallet/protos/valueshuffle.proto
  wallet/src/valueshuffle/message.rs
  wallet/src/valueshuffle/mod.rs
  wallet/src/valueshuffle/protos.rs
Labels: bug, value shuffle

#1195 Negative tests on valueshuffle
  node/src/test/mod.rs
  wallet/src/test/account_transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: value shuffle

#1193 Fix loader bugs
  network/src/loopback.rs
  node/src/config.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/test/consensus.rs
  node/src/test/mod.rs
  node/src/test/requests.rs
  src/bin/stegosd.rs
Labels: bootstrap

#1194 Refactor ValueShuffle
  wallet/src/error.rs
  wallet/src/lib.rs
  wallet/src/test/account_transaction.rs
  wallet/src/valueshuffle/error.rs
  wallet/src/valueshuffle/mod.rs
Labels: refactoring, value shuffle

#1197 Rename ValueShuffle to Snowball
  wallet/protos/snowball.proto
  wallet/src/lib.rs
  wallet/src/snowball/error.rs
  wallet/src/snowball/message.rs
  wallet/src/snowball/mod.rs
  wallet/src/snowball/protos.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/transaction.rs
Labels: refactoring

#1200 Remove VsRestart from Snowball
  wallet/protos/snowball.proto
  wallet/src/snowball/message.rs
  wallet/src/snowball/mod.rs
  wallet/src/snowball/protos.rs
  wallet/src/test/account_transaction.rs
Labels: refactoring, snowball

#1201 Add method session_id for snowball session.
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
Labels: snowball, wallet

#1202 Fix handling of Snowball timeouts
  api/src/server.rs
  wallet/src/error.rs
  wallet/src/lib.rs
Labels: bug

#1204 Fix pending utxo snowball timeout.
  wallet/src/lib.rs
  wallet/src/snowball/mod.rs
  wallet/src/storage.rs
Labels: api, wallet

#1205 Add info about valueshuffle transaction.
  wallet/protos/account_log.proto
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/snowball/mod.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/transaction.rs
Labels: wallet

#1208 Update CI to use Rust Nightly 2019-08-04
  .gitlab-ci.yml
  Cargo.lock
  Dockerfile
Labels: build, ci

#1212 Fix typo in .gitlab-ci.yml
  .gitlab-ci.yml
Labels: bug, ci

#1211 Remove static build for Linux from CI
  .gitlab-ci.yml
Labels: ci

#1214 Fix formatting and re-enable `cargo audit`
  .gitlab-ci.yml
  network/src/gatekeeper/behavior.rs
  network/src/libp2p_network/mod.rs
  wallet/src/storage.rs
Labels: build, ci

#1213 Fix is_change in incomming history entry.
  wallet/protos/account_log.proto
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/storage.rs
Labels: wallet

#1209 Don't send dummy NewMacroBlock notification on the start
  node/src/api.rs
  node/src/lib.rs
  node/src/txpool/mod.rs
  wallet/src/lib.rs
Labels: refactoring

#1216 Filter out discovered localhost IPs
  network/src/ncp/behavior.rs
Labels: bug, network

#1218 Add test for pending utxos.
  wallet/src/lib.rs
  wallet/src/test/account_transaction.rs
Labels: api, wallet

#1219 Refactor crate layout
  src/bin/stegos/console.rs
  src/bin/stegos/main.rs
  src/bin/stegosd/config.rs
  src/bin/stegosd/main.rs
  src/consts.rs
  src/lib.rs
Labels: refactoring

#1220 Fix is_change log, and caluclulation.
  wallet/src/storage.rs
Labels: api, wallet

#1221 Tune default pathes
  .gitignore
  create-testing-keys.sh
  src/bin/stegos/console.rs
  src/bin/stegosd/main.rs
  start-cluster.sh
  stegosd.toml.example
  testing/node01/stegosd.toml
  testing/node02/stegosd.toml
  testing/node03/stegosd.toml
  testing/node04/stegosd.toml
  testing/node05/stegosd.toml
  testing/node06/stegosd.toml
  testing/node07/stegosd.toml
  testing/stegosd.toml.j2
Labels: configuration

#1224 Automatically build binaries on `dev` branch
  .gitlab-ci.yml
Labels: build, ci

#1226 Genesis and keys for Mainnet Preview 4
  .gitlab-ci.yml
  chains/testnet/genesis.bin
Labels: configuration

#1227 Refactor wallet structures.
  blockchain/src/escrow.rs
  blockchain/src/output.rs
  src/bin/stegos/console.rs
  wallet/protos/account_log.proto
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/protos.rs
  wallet/src/snowball/message.rs
  wallet/src/storage.rs
  wallet/src/test/account_transaction.rs
  wallet/src/transaction.rs
Labels: api, wallet

#1229 Refactor TransactionPoolService
  node/src/lib.rs
  node/src/txpool/mod.rs
Labels: refactoring

#1236 Fix Unicast delivery
  network/src/discovery/behavior.rs
  network/src/ncp/behavior.rs
Labels: bug, network

#1245 Allow to override almost all configuration options via environment
  src/bin/stegos/main.rs
  src/bin/stegosd/main.rs
Labels: configuration

#1252 Streamline Snowball state machine
  crypto/src/scc/mod.rs
  wallet/src/snowball/error.rs
  wallet/src/snowball/mod.rs
Labels: refactoring, snowball

#1254 Notify about Snowball status changes via API
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/snowball/mod.rs
  wallet/src/test/account_transaction.rs
Labels: api, snowball

#1248 Persist UTXO history in blockchain.
  blockchain/src/blockchain.rs
  blockchain/src/test.rs
  node/src/api.rs
  node/src/lib.rs
  wallet/src/change.rs
  wallet/src/lib.rs
  wallet/src/storage.rs
  wallet/src/transaction.rs
Labels: wallet

#1256 Enable backtrace and coredump by default
  Cargo.lock
  Cargo.toml
  src/bin/stegosd/main.rs
Labels: configuration

#1259 Follow up network configuration refactoring
  network/src/ncp/behavior.rs
  testing/node01/stegosd.toml
  testing/node02/stegosd.toml
  testing/node03/stegosd.toml
  testing/node04/stegosd.toml
  testing/node05/stegosd.toml
  testing/node06/stegosd.toml
  testing/node07/stegosd.toml
  testing/stegosd.toml.j2
Labels: refactoring

#1263 Fix problem with bootstrap related to persistent history.
  blockchain/src/blockchain.rs
  blockchain/src/test.rs
  node/src/api.rs
  node/src/lib.rs
  wallet/src/lib.rs
Labels: api, bug, wallet

#1262 Disable `Pubsub` forwarding, if node has no public address
  .gitignore
  network/src/libp2p_network/mod.rs
  network/src/pubsub/behavior.rs
Labels: blockchain

#1268 Use STEGOS_DATA_DIR for storing CLI history
  src/bin/stegos/console.rs
  src/bin/stegos/main.rs
Labels: configuration, console

#1267 Add `enable restaking` / `disable restaking` commands
  node/src/api.rs
  node/src/lib.rs
  src/bin/stegos/console.rs
Labels: staking/unstaking

#1271 Include all trailing microblocks to loader's response
  node/src/loader.rs
Labels: bootstrap, bug

#1269 Fix race during recovery of persistent wallet.
  node/src/api.rs
  node/src/lib.rs
  wallet/src/lib.rs
Labels: wallet

#1258 Add tests for assymetric dropouts.
  Cargo.lock
  node/Cargo.toml
  node/src/test/futures_testing.rs
  node/src/test/logger.rs
  node/src/test/mod.rs
  wallet/src/test/account_transaction.rs
  wallet/src/test/mod.rs
Labels: snowball, wallet

#1270 Make CLI suitable for scripting
  Cargo.lock
  Cargo.toml
  api/src/client.rs
  src/bin/stegos/console.rs
  src/bin/stegos/main.rs
Labels: console

#1266 Rework CI and Dockerfile
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  ci-scripts/Dockerfile
  ci-scripts/build.sh
  ci-scripts/coverage.sh
  ci-scripts/install-deps.sh
  crypto/build.rs
  rust-toolchain
Labels: ci

#1260 Add public keys to `show accounts`
  src/bin/stegos/console.rs
  wallet/src/api.rs
  wallet/src/error.rs
  wallet/src/lib.rs
Labels: breaking change, wallet

#1278 Fix for issues with misconfigured DNS
  network/src/config.rs
  src/bin/stegosd/main.rs
Labels: configuration, network

#1279 Release both stripped and unstripped versions of binaries
  .gitlab-ci.yml
Labels: ci

#1282 Fix CLI parser
  src/bin/stegos/console.rs
Labels: bug, console

#1286 Genesis block and validator's keys for Mainnet Beta
  chains/testnet/genesis.bin
  src/bin/stegosd/main.rs
Labels: configuration

#1283 Set min_stake_amount to 50k and re-generate genesis
  blockchain/src/config.rs
  chains/dev/genesis.bin
  src/bin/stegosd/main.rs
  testing/node01/accounts/1/account.pkey
  testing/node01/accounts/1/account.skey
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node02/accounts/1/account.pkey
  testing/node02/accounts/1/account.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node03/accounts/1/account.pkey
  testing/node03/accounts/1/account.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node04/accounts/1/account.pkey
  testing/node04/accounts/1/account.skey
  testing/node04/network.pkey
  testing/node04/network.skey
Labels: configuration

#1288 Genesis blocks and keys for devnet and mainnet beta
  chains/devnet/genesis.bin
  chains/testnet/genesis.bin
  src/bin/stegosd/main.rs
Labels: configuration

#1291 Genesis block for `devnet` with 500K difficulty
  chains/devnet/genesis.bin
Labels: configuration, testing

#1298 Update libp2p to v0.12.0
  Cargo.lock
  network/Cargo.toml
  network/src/delivery/behavior.rs
  network/src/delivery/handler.rs
  network/src/discovery/behavior.rs
  network/src/gatekeeper/behavior.rs
  network/src/gatekeeper/handler.rs
  network/src/kad/behaviour.rs
  network/src/kad/handler.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/behavior.rs
  network/src/ncp/handler.rs
  network/src/pubsub/behavior.rs
  network/src/pubsub/handler.rs
  network/stubs/libp2p/Cargo.toml
  network/stubs/libp2p/src/lib.rs
Labels: network

#1300 Refactor PubSub
  network/protos/pubsub_proto.proto
  network/src/libp2p_network/mod.rs
  network/src/pubsub/behavior.rs
  network/src/pubsub/mod.rs
  network/src/pubsub/protocol.rs
  network/src/pubsub/topic.rs
Labels: network, refactoring

#1292 Add possibility to build stegos on Windows
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  blockchain/Cargo.toml
  build.rs
  ci-scripts/build.sh
  ci-scripts/win/install_deps.bat
  ci-scripts/win/rocksdb_cmake.patch
  ci-scripts/win/rocksdb_localtime_mingw.patch
  crypto/Cargo.toml
  crypto/build.rs
  src/bin/stegosd/main.rs
  wallet/Cargo.toml
Labels: ci

#1284 Support JSON formatting in CLI
  Cargo.lock
  Cargo.toml
  src/bin/stegos/console.rs
  src/bin/stegos/main.rs
Labels: console
