Repository stegos/stegos, pull requests merged in 2019-04, with the labels that each got.

#681 Add BLS signature on PBC Public Key in Stake UTXO
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/genesis.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/transaction.rs
  chains/dev/genesis0.bin
  chains/dev/genesis1.bin
  node/src/validation.rs
  src/stegos.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
  testing/node03/stegos.toml
  wallet/src/lib.rs
  wallet/src/transaction.rs
Labels: blockchain, breaking change

#690 Don't disable protocol on substream close error
  network/src/ncp/handler.rs
  network/src/pubsub/handler.rs
Labels: network

#685 Replace `epoch` with `header` in the block header
  .rustfmt.toml
  blockchain/protos/blockchain.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/protos.rs
  chains/dev/genesis0.bin
  chains/dev/genesis1.bin
  consensus/src/protos.rs
  crypto/src/curve1174/cpt.rs
  crypto/src/pbc/secure.rs
  network/src/gatekeeper/behavior.rs
  network/src/pubsub/topic.rs
  node/protos/loader.proto
  node/src/lib.rs
  node/src/loader.rs
  node/src/mempool.rs
  node/src/protos/mod.rs
  node/src/test/consensus.rs
  node/src/validation.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
  testing/node03/stegos.toml
  txpool/src/protos.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
  wallet/src/valueshuffle/protos.rs
Labels: blockchain, breaking change

#683 Hashcash delay() and check_proof()
  crypto/protos/crypto.proto
  crypto/src/hashcash/mod.rs
  crypto/src/lib.rs
  crypto/src/protos.rs
Labels: crypto

#692 Fix formatting in crypto/src/hashcash/mod.rs
  crypto/src/hashcash/mod.rs
Labels: refactoring

#691 Refactor multisignature, to use index based.
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/election.rs
  blockchain/src/error.rs
  blockchain/src/multisignature.rs
  consensus/src/state.rs
  node/src/config.rs
Labels: consensus

#676 Implement basic micro block consensus.
  blockchain/protos/blockchain.proto
  blockchain/protos/view_changes.proto
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/election.rs
  blockchain/src/error.rs
  blockchain/src/genesis.rs
  blockchain/src/lib.rs
  blockchain/src/protos.rs
  blockchain/src/view_changes.rs
  consensus/protos/consensus.proto
  consensus/src/error.rs
  consensus/src/lib.rs
  consensus/src/optimistic.rs
  consensus/src/protos.rs
  network/src/loopback.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/test/consensus.rs
  node/src/test/mod.rs
  node/src/test/simple_tests.rs
  node/src/validation.rs
Labels: consensus

#693 Add block_lag and block_idle metric
  Cargo.lock
  Cargo.toml
  blockchain/Cargo.toml
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/escrow.rs
  blockchain/src/genesis.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/storage.rs
  blockchain/src/transaction.rs
  consensus/Cargo.toml
  consensus/src/protos.rs
  crypto/src/hash/mod.rs
  node/Cargo.toml
  node/src/config.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/metrics.rs
  node/src/test/consensus.rs
  node/src/test/mod.rs
  node/src/test/simple_tests.rs
  node/src/validation.rs
  src/bootstrap.rs
  src/stegos.rs
  wallet/Cargo.toml
  wallet/examples/show_utxo_chunks.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
Labels: monitoring

#695 Updated genesis and keys for dev and devnet
  chains/dev/genesis0.bin
  chains/dev/genesis1.bin
  chains/devnet/genesis0.bin
  chains/devnet/genesis1.bin
  src/stegos.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
Labels: configuration

#700 Remove handle_init() and network_ready() from Node
  node/src/lib.rs
  node/src/test/mod.rs
  src/stegos.rs
Labels: bug, refactoring

#702 Fix BulletProof quadrant redundancy
  chains/dev/genesis0.bin
  chains/dev/genesis1.bin
  crypto/protos/crypto.proto
  crypto/src/bulletproofs/mod.rs
  crypto/src/curve1174/cpt.rs
  crypto/src/protos.rs
  src/stegos.rs
  testing/node01/stegos.pkey
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node02/stegos.pkey
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node03/stegos.pkey
  testing/node03/stegos.skey
  testing/node03/stegos.toml
Labels: breaking change, crypto

#680 Add WebSocket API Server
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/config.rs
  api/src/lib.rs
  src/config.rs
  src/stegos.rs
  stegos-log4rs.toml.example
  stegos.toml.example
  testing/node01/stegos.toml
  testing/node02/stegos.toml
  testing/node03/stegos.toml
  testing/stegos.toml.j2
Labels: api

#709 Updated genesis block
  chains/devnet/genesis0.bin
  chains/devnet/genesis1.bin
Labels: configuration, testing

#710 Refactor the log and the error messages
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/escrow.rs
  blockchain/src/output.rs
  blockchain/src/transaction.rs
  blockchain/src/view_changes.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/test/simple_tests.rs
  node/src/validation.rs
Labels: refactoring

#711 Use Rust v1.33 in CI
  .gitlab-ci.yml
Labels: ci

#712 Remove vrf ticketing code.
  node/protos/node.proto
  node/src/lib.rs
  node/src/test/vrf_tickets.rs
  node/src/tickets.rs
Labels: improvements

#713 Add benches of leader election
  blockchain/benches/election.rs
Labels: improvements

#716 Temporal fix for NodeType negotiations
  network/src/gatekeeper/behavior.rs
  network/src/ncp/handler.rs
  network/src/pubsub/handler.rs
Labels: bug, network

#719 Extend timer values for expiration in Kad test
  network/src/kad/addresses.rs
Labels: bug

#720 Remove unnecessary warning on substream close
  network/src/pubsub/handler.rs
Labels: network

#697 Rework synchronization logic
  blockchain/src/blockchain.rs
  node/protos/loader.proto
  node/src/config.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/metrics.rs
  node/src/protos/mod.rs
Labels: bootstrap, refactoring

#723 Fix pubsub 'protocol disabled' errors
  network/src/pubsub/handler.rs
Labels: bug, network

#721 Initial WebSocket API implementation
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/lib.rs
  crypto/Cargo.toml
  crypto/src/curve1174/cpt.rs
  crypto/src/hash/mod.rs
  crypto/src/pbc/secure.rs
  src/console.rs
  wallet/Cargo.toml
  wallet/src/api.rs
  wallet/src/lib.rs
Labels: api

#729 Updated genesis block for Testnet#4
  chains/testnet/genesis0.bin
  chains/testnet/genesis1.bin
  src/stegos.rs
Labels: configuration

#727 Establish and monitor connections to 10 closest nodes
  Cargo.lock
  network/src/discovery/behavior.rs
  network/src/kad/behaviour.rs
  network/src/lib.rs
  network/src/libp2p_network/mod.rs
Labels: network

#734 Enable release build on all branches
  .gitlab-ci.yml
Labels: ci

#736 Use Rust v1.33 in Docker builds
  Dockerfile
Labels: build

#733 Add reset to interval implemetation
  node/src/lib.rs
  node/src/timer.rs
Labels: runtime

#740 Review fixes for Wallet API
  api/src/lib.rs
  src/console.rs
  wallet/src/api.rs
  wallet/src/lib.rs
Labels: refactoring

#742 Add `id` to WalletRequest and WalletResponse
  api/src/lib.rs
Labels: api

#744 Split timers from node.
  node/src/lib.rs
  node/src/timer.rs
Labels: improvements

#705 Implement round for keyblock consensus.
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/election.rs
  consensus/protos/consensus.proto
  consensus/src/error.rs
  consensus/src/lib.rs
  consensus/src/message.rs
  consensus/src/protos.rs
  consensus/src/state.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/test/consensus.rs
  node/src/validation.rs
Labels: consensus

#746 Export Node API to WebSocket
  Cargo.lock
  api/Cargo.toml
  api/src/lib.rs
  blockchain/src/blockchain.rs
  blockchain/src/election.rs
  blockchain/src/escrow.rs
  node/src/lib.rs
  src/console.rs
  src/stegos.rs
  txpool/src/lib.rs
  wallet/src/api.rs
  wallet/src/lib.rs
  wallet/src/valueshuffle/mod.rs
Labels: api

#750 Initial implementation of LRU Bimap
  .gitignore
  network/src/utils/lru_bimap.rs
  network/src/utils/mod.rs
Labels: network

#745 Unicast delivery using DHT routing
  network/src/delivery/behavior.rs
  network/src/delivery/mod.rs
  network/src/discovery/behavior.rs
  network/src/discovery/metrics.rs
  network/src/discovery/mod.rs
  network/src/kad/addresses.rs
  network/src/kad/behaviour.rs
  network/src/kad/mod.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/behavior.rs
Labels: network

#739 Speed up network synchronization procedure
  node/src/config.rs
  node/src/loader.rs
Labels: bug

#757 Reverse order of nodes, returned by find_closes()
  network/src/kad/kbucket.rs
Labels: bug, network

#753 Starting test implementation for consensus
  network/src/loopback.rs
  node/src/test/consensus.rs
  node/src/test/mod.rs
Labels: consensus

#762 Allow load more blocks.
  node/src/config.rs
  node/src/loader.rs
Labels: bootstrap

#765 Send NETWORK_READY_TOKEN once network is up
  network/src/libp2p_network/mod.rs
  network/src/pubsub/behavior.rs
Labels: network

#771 Fix second view change proof collection.
  consensus/src/optimistic.rs
  network/src/loopback.rs
  node/src/lib.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
  node/src/test/requests.rs
Labels: bug

#779 Start network service and metrics export first
  src/stegos.rs
Labels: monitoring, network

#778 Fix bugs in consensus
  consensus/src/state.rs
  node/src/lib.rs
  node/src/test/consensus.rs
Labels: consensus

#780 Update received cache for received unicast messages
  network/src/discovery/behavior.rs
  network/src/libp2p_network/mod.rs
Labels: bug, network

#774 Add a console command to revert the latest block
  blockchain/src/blockchain.rs
  node/src/lib.rs
  src/console.rs
Labels: console

#781 Fix lock test implementation.
  node/src/test/consensus.rs
Labels: testing

#767 Implement fork resolution
  blockchain/src/blockchain.rs
  blockchain/src/error.rs
  blockchain/src/view_changes.rs
  consensus/src/optimistic.rs
  crypto/src/pbc/secure.rs
  node/src/lib.rs
  node/src/loader.rs
  node/src/metrics.rs
  node/src/test/consensus.rs
  node/src/test/microblocks.rs
  node/src/test/mod.rs
Labels: forks

#776 Updated Rust in CI and formatting to v1.34
  .gitlab-ci.yml
  Dockerfile
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/protos.rs
  consensus/src/protos.rs
  wallet/src/valueshuffle/protos.rs
Labels: ci

#786 Refactor keying
  blockchain/benches/election.rs
  blockchain/src/block.rs
  blockchain/src/blockchain.rs
  blockchain/src/election.rs
  blockchain/src/multisignature.rs
  blockchain/src/output.rs
  blockchain/src/protos.rs
  blockchain/src/storage.rs
  blockchain/src/transaction.rs
  consensus/src/message.rs
  consensus/src/optimistic.rs
  consensus/src/protos.rs
  consensus/src/state.rs
  crypto/examples/pbc.rs
  crypto/protos/crypto.proto
  crypto/src/curve1174/cpt.rs
  crypto/src/curve1174/mod.rs
  crypto/src/dicemix/mod.rs
  crypto/src/pbc/mod.rs
  crypto/src/pbc/secure.rs
  crypto/src/protos.rs
  keychain/src/lib.rs
  network/src/delivery/protocol.rs
  network/src/discovery/behavior.rs
  network/src/kad/kbucket.rs
  network/src/kad/query.rs
  network/src/libp2p_network/mod.rs
  network/src/ncp/protocol.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/test/consensus.rs
  txpool/src/protos.rs
  wallet/examples/show_utxo_chunks.rs
  wallet/src/transaction.rs
  wallet/src/valueshuffle/mod.rs
  wallet/src/valueshuffle/protos.rs
Labels: crypto, refactoring

#787 Fix other node polling in lock test.
  consensus/src/state.rs
  node/src/test/consensus.rs
Labels: testing

#783 Allow partial pruning in mempool
  node/src/mempool.rs
Labels: mempool

#802 Limit tx, mempool and block sizes
  node/src/config.rs
  node/src/error.rs
  node/src/lib.rs
  node/src/mempool.rs
  node/src/metrics.rs
Labels: blockchain, mempool, tx

#805 Fixes test failures in CI builds running in Mojave Virtualbox VM
  crypto/src/curve1174/cpt.rs
Labels: bug, ci, crypto

#792 Encrypt keys on the disk
  .gitignore
  Cargo.lock
  chains/dev/genesis0.bin
  chains/dev/genesis1.bin
  create-testing-keys.sh
  crypto/examples/curve1174.rs
  crypto/src/keying/mod.rs
  crypto/src/pbc/secure.rs
  keychain/Cargo.toml
  keychain/src/config.rs
  keychain/src/error.rs
  keychain/src/input.rs
  keychain/src/keyfile.rs
  keychain/src/lib.rs
  keychain/src/recovery.rs
  src/bootstrap.rs
  src/console.rs
  src/stegos.rs
  stegos.toml.example
  testing/node01/network.pkey
  testing/node01/network.skey
  testing/node01/password.txt
  testing/node01/stegos.skey
  testing/node01/stegos.toml
  testing/node01/wallet.pkey
  testing/node01/wallet.skey
  testing/node02/network.pkey
  testing/node02/network.skey
  testing/node02/password.txt
  testing/node02/stegos.skey
  testing/node02/stegos.toml
  testing/node02/wallet.pkey
  testing/node02/wallet.skey
  testing/node03/network.pkey
  testing/node03/network.skey
  testing/node03/password.txt
  testing/node03/stegos.skey
  testing/node03/stegos.toml
  testing/node03/wallet.pkey
  testing/node03/wallet.skey
  testing/node04/network.pkey
  testing/node04/network.skey
  testing/node04/password.txt
  testing/node04/stegos.skey
  testing/node04/stegos.toml
  testing/node04/wallet.pkey
  testing/node04/wallet.skey
  testing/stegos.toml.j2
  wallet/Cargo.toml
  wallet/src/api.rs
  wallet/src/lib.rs
Labels: breaking change, keychain

#811 Updated genesis block for devnet
  chains/devnet/genesis0.bin
  chains/devnet/genesis1.bin
  src/stegos.rs
Labels: testing

#803 Lock stakes by epochs
  blockchain/src/blockchain.rs
  blockchain/src/config.rs
  blockchain/src/escrow.rs
  blockchain/src/output.rs
  node/src/config.rs
  node/src/lib.rs
  node/src/validation.rs
Labels: staking/unstaking

#818 Yet another genesis update
  chains/devnet/genesis0.bin
  chains/devnet/genesis1.bin
Labels: testing
